@media only screen and (max-width: 550px) {
  .testridesection {
    margin-top: 25px;
    .card {
      margin-bottom: 60px;
      .card-body {
        .testreq {
          h6 {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
            letter-spacing: 1px;
          }

          .form-group {
            margin-bottom: 5px;
            label {
              font-size: 12px;
              font-weight: bold;
              margin-left: 10px;
            }
            input {
              font-size: 14px;
            }
            sup {
              i {
                color: #eb0909;
                font-size: 8px;
              }
            }
            
            span {
              font-size: 12px;
              text-transform: none;
              color: #df4957;
              margin-left: 25px;
              margin-top: 2px;
            }
            .form-control {
              background-image: none;
            }
            button.btn {
              text-align: center;
              outline: none;
              border: none;
              box-shadow: none;
              border-radius: 50px;
              width: 130px;
              height: 40px;
              background-color: #28b8e8;
              background-image: linear-gradient(to right, #2cbae7, #0f347d);
            }
          }
        }
      }
    }
  }
  .margin{
    margin: 0px 20px;  
    box-shadow: 0 0 15px 0px #000;
    clip-path: inset(0px -15px 0px -15px);  
    border-radius: 15px;     
    padding-left: 0px!important;
    padding-right: 0px!important; 
  }
}
