<div class="testridesection">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="testreq">
          <h6>Requirements for Test Ride</h6>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <th scope="row">NAME</th>
                <td><input type="text" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">AADHAR NO.</th>
                <td><input type="number" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">CONTACT NO.</th>
                <td><input type="number" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">ADDRESS</th>
                <td><input type="text" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">AREA</th>
                <td><input type="text" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">LANDMARK</th>
                <td><input type="text" class="form-control" /></td>
              </tr>
              <tr>
                <th scope="row">CITY</th>
                <td><input type="text" class="form-control" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
