@media (max-width: 480px) {
  .vihaanelectrix-section {
    background-color: #181717;
    padding: 10px 0;
    margin-bottom: 60px;
    .localaddress {
      h5 {
        color: white;
      }
    }
    .logoaddress {
      float: right;
      img {
        width: 52px;
        height: 50px;
        border-radius: 50px;
      }
    }
    .buttons {
      .btn.btn-dark {
        font-size: 10px;
        margin-right: 10px;
      }
    }
    .review {
      margin: 5px 0;
      span {
        display: flex;
        p {
          font-size: 12px;
          color: white;
          margin-bottom: 0px;
          .mat-icon {
            color: #ebeb21;
            font-size: 14px;
            width: 15px;
            // margin-top: 5px;
          }
        }
        h6 {
          // color: #377ac3e0;
          font-size: 14px;
          margin-bottom: 0px;
          b {
            color: #84acd7e0;
          }
        }
      }
      p {
        color: grey;
        font-size: 14px;
      }
    }
    .hr-line {
      border-bottom: 1px solid grey;
    }
    .text-wrap {
      margin: 10px;
      p {
        color: white;
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 23px;
        b {
          color: #84acd7e0;
        }
        b.green {
          color: #82af82;
        }
      }
    }
  }
}

.mapSize {
  width: 100%;
  height: 350px;
}