<div class="charzersection">
  <div class="socketfield">
    <p>SOCKET</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="charzer">
          <img
            src="assets/images/1 - VENROUTE/1 -  PURE EV/Charzer/Picture1.png"
          />
        </div>
        <div class="specs">
          <h6>Power Specifications</h6>
          <ul>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp; AC Power Source 208/240V, center grounded, 60Hz supply
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Power to Electric Vehicle 30A maximum, 7.2kW@240VAC
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Vehicle-to-Charger Connection SAE J1772™ EV Connector via
              18ft Cable
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Energy Metering Accuracy 1% at 5min intervals; 0.5% capable
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Standby Power 5 W typical
            </li>
          </ul>
        </div>
        <div class="specs">
          <h6>Safety Specifications</h6>
          <ul>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp; Personnel Protection System Charging Circuit Interrupting
              Device (CCID) Trip Threshold 5mA, CCID 5 per UL2231-2, Auto reset
              with 15min delay
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Automotive Unplug Detection Charger output voltage
              terminated
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Codes and Standards Compliance UL 2231-1, 2231-2 and UL2594
              compliant, NEC Article 625 compliant
            </li>
          </ul>
        </div>
        <div class="specs">
          <h6>Network Specifications</h6>
          <ul>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp; Wide Area Network Commercial CDMA or GPRS cellular network
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Network Security 128-bit AES Encryption
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;Smart Card Reader ISO 15693 (iCLASS), ISO14443 (MIFARE,
              DESFIRE)
            </li>
          </ul>
        </div>
        <div class="specs">
          <h6>Charger Status Displays</h6>
          <ul>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp; LED Array 270° visibility, multi-color visual status
              indicator
            </li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              &nbsp;LCD Screen 2 lines, 16 characters per line, backlit
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="Locatefield">
    <a [routerLink]="['/user/Chargingstation']">
      <p>LOCATE NEAR BY CHARGER</p>
    </a>
  </div>
</div>
