<div class="header-banner">
  <nav>
      <div class="container">
          <div class="nav-section">
              <div class="navlinks-section">
                  <!-- <label for="drop" class="toggle">Menu</label>
                  <input type="checkbox" id="drop" /> -->
                  <div class="menu-icon" (click)="showMenu()">
                      <!-- <i class="#"><mat-icon>notes</mat-icon></i> -->
                      <img src="../../../assets/images/Icons/Menu Icon.png" width="27px"/>

                  </div>
                  <ul class="menu">
                    <li>
                      <a [routerLink]="['/user/Home']" (click)="showMenu()">
                        <img src="assets/images/menulogo.png" />
                      </a>
                    </li>
                      <li><a  [routerLink]="['/user/VEnroute']" (click)="showMenu()"><p class="tittle">V-ENROUTE</p>
                        <img src="../../../assets/images/sideBar_Icons/V-Enroute.png" class="icon-img" />
                        </a></li>
                      <li><a [routerLink]="['/user/VEnergy']" (click)="showMenu()"><p class="tittle"> V-ENERGY</p>
                        <img src="../../../assets/images/sideBar_Icons/V-Energy.png" class="icon-img" />
                      </a></li>
                      <li><a [routerLink]="['/user/VEase']" (click)="showMenu()"><p class="tittle">V-EASE</p> 
                        <img src="../../../assets/images/sideBar_Icons/V-Ease.png" class="icons-imgs" />
                      </a></li>
                      <li><a (click)="showMenu()"><p class="tittle">V-EQUIPMENT</p> 
                        <img src="../../../assets/images/sideBar_Icons/V-Equipment.png" class="icon-img" />
                      </a></li>
                      <li><a (click)="showMenu()"><p class="tittle">V-ESSENTIAL</p> 
                        <img src="../../../assets/images/sideBar_Icons/V-Essentials.png" class="icon-img" />
                      </a></li>
                    
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</div>