<div class="header-banner">
  <nav>
      <div class="container">
          <div class="nav-section">
              <div class="navlinks-section">
                  <!-- <label for="drop" class="toggle">Menu</label>
                  <input type="checkbox" id="drop" /> -->
                  <div class="menu-icon" (click)="showMenu()">
                      <i class="#"><mat-icon>notes</mat-icon></i>
                  </div>
                  <ul class="menu">
                    <li>
                      <a [routerLink]="['/user/Home']" (click)="showMenu()">
                        <img src="assets/images/menulogo.png" />
                      </a>
                    </li>
                      <li><a  [routerLink]="['/user/VEnroute']" (click)="showMenu()"> V-ENROUTE
                        <mat-icon>motorcycle</mat-icon></a></li>
                      <li><a [routerLink]="['/user/VEnergy']" (click)="showMenu()"> V-ENERGY
                        <mat-icon>battery_charging_full</mat-icon></a></li>
                      <li><a [routerLink]="['/user/VEase']" (click)="showMenu()"> V-EASE
                        <i class="fas fa-tools"></i></a></li>
                      <li><a (click)="showMenu()"> V-EQUIPMENT
                        <i class="fa fa-box"></i></a></li>
                      <li><a (click)="showMenu()"> V-ESSENTIAL
                        <mat-icon>laptop_chromebook</mat-icon></a></li>
                    
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</div>