// section {
//   background: url(bg1.jpg) no-repeat;
//   background-size: cover;
//   height: calc(100vh - 80px);
// }
// @media (max-width: 768px) {
//   .menu_section {
//     .menu-icon {
//       display: block;
//       i {
//         font-size: 17px;
//         margin: 10px 15px;
//       }
//       .logo img {
//         height: 60px;
//       }
//       .open-menu {
//         transform: translateX(0px);
//       }
//       .close-icon::before {
//         content: '\f00d';
//         font-family: FontAwesome;
//         font-size: 25px;
//       }
//     }
//     .menu {
//       transition: 0.3s ease-in-out;
//       transform: translateX(-500px);
//       height: 100%;
//       position: fixed !important;
//       z-index: 1;
//       top: 100px;
//       display: flex;
//       flex-direction: column;
//       left: 0px;
//       padding: 0px;
//       ul {
//         display: none;
//         li {
//           margin: 0px 10px 15px 10px;
//         }
//       }
//     }
//   }
// }
@media (max-width: 768px) {
  .menu_section .menu-icon {
    display: block;
    height: 60px;
  }

  .menu ul {
    display: none;
  }

  .menu-icon .mat-icon {
    // font-size: 20px;
    // margin: 20px 25px;
    line-height: 46px;
    padding: 13px;
    font-size: 29px;
    font-weight: 600;
  }

  .logo img {
    height: 60px;
  }

  .menu {
    transition: 0.3s ease-in-out;
    transform: translateX(-500px);
    height: 375px;
    position: fixed !important;
    z-index: 1;
    top: 65px;
    display: flex;
    flex-direction: column;
    left: 0px;
    padding: 20px 0;
    width: 60%;
    border-radius: 30px;
    // height: 100%;
    // box-shadow: 0 0 11px 4px rgb(43 40 40 / 17%);
    border: 3px solid #edededf0;
    background: white;
  }

  .menu li {
    margin: 0px 10px 20px 10px;
  }
  .menu li img {
    width: 150px;
    height: 100%;
    text-align: center;
    margin: auto;
    display: block;
  }
  .menu li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
  }
  .menu li a i {
    margin-top: 2px;
    font-size: 18px;
  }

  .open-menu {
    transform: translateX(0px);
  }

  // .close-icon::before {
  //   content: '\f00d';
  //   font-family: FontAwesome;
  //   font-size: 23px;
  // }
}
