@media (max-width: 550px) {
  .Homepage-section {
    .viewpage {
      text-align: center;
      margin: 10px 40px 20px 40px;
      height: 280px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
      border-color: rgba(223,225,229,0);
      img {
        margin-bottom: 20px;
        height: 300px;
        width: 100%;
      }
    }
  }
}
