<div class="Homepage-section">
  <div class="container">
    <div class="row">
      <div class="viewpage animated fadeInDown">
        <img src="assets/images/Picture1.jpg" />
      </div>
      <div class="viewpage animated fadeInUp">
        <img src="assets/images/Picture2.jpg" />
      </div>
      <div class="viewpage animated fadeInDown">
        <img src="assets/images/Picture1.jpg" />
      </div>
      <div class="viewpage animated fadeInUp">
        <img src="assets/images/Picture1.jpg" />
      </div>
      <div class="viewpage animated fadeInDown">
        <img src="assets/images/Picture1.jpg" />
      </div>
    </div>
  </div>
</div>
