.venergysection {
  margin-bottom: 30px;
  text-align: center;
  button.btn.btn-danger {
    text-align: center;
    background: red;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
  button.btn.btn-success {
    text-align: center;
    background: #44992fd1;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
}


.venergysection {
  .charger_img {
    img {
      width: 100%;
      height: 75vh;
    }
  }
}

.energy{
  color: #6DD64A;
  letter-spacing: 2px;
  margin: 20px 0px 50px 0px;
}
.charging{
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
}