<!-- <div class="venergysection">
  <a [routerLink]="['/user/Charzer']">
    <button type="button" class="btn btn-danger">CHARZER</button>
  </a>
  <p>
    SLOW CHARGER – 3.3 KW
    <br />
    COMPATIBLE FOR 2 WHEELER
  </p>
</div>
<div class="venergysection">
  <a [routerLink]="['/user/Charzer']">
    <button type="button" class="btn btn-success">SOCKET</button>
  </a>
  <p>
    FAST CHARGER – 7.2 KW / 25 KW
    <br />
    COMPATIBLE FOR 3 & 4 WHEELER
  </p>
</div> -->

<div class="venergysection">
  <a [routerLink]="['/user/Chargingstation']">
    <div class="charger_img">
      <img src="assets/images/chargerbanner.gif">
    </div>
  </a>
</div>
