<div class="arrow-rating">
  <span class="material-symbols-outlined arrow" [routerLink]="['/user/VEnroute']">
    arrow_circle_left
  </span>
</div>

<div class="venergysection">
  <a [routerLink]="['/user/Servicestation']">
    <button type="button" class="btn btn-dark">LOCATE SERVICE STATION</button>
  </a>
</div>
<div class="venergysection">
  <a [routerLink]="['/user/Requestasst']">
    <button type="button" class="btn btn-secondary">
      REQUEST ROADSIDE ASSISTANCE
    </button>
  </a>
</div>
