@media (max-width: 550px) {
  .Homepage-section {
    margin-bottom: 60px;
    .viewpage {
      text-align: center;
      // background: #7c7f8324;
      border-radius: 30px;
      width: 325px;
      margin: auto;
      // margin-bottom: 20px;
      // margin-right: 10px;
      margin: 10px 0px 30px 0px;
      padding-bottom: 25px;
      img {
        width: auto;
        height: 200px;
        // width: 150px;
        border-radius: 8px;
      }
      h6 {
        color: black;
        font-size: 18px;
        font-weight: 600;
        padding: 15px 0 0 0;
        text-decoration: none;
      }
      a {
        text-decoration: none;
        .mat-icon {
          color: black;
          font-size: 30px;
          // float: right;
          // margin: 50px 0;
          // padding: 0 20px 0 0;
        }
      }
    }
    .logo {
      margin: auto;
      img {
        // margin: auto;
        display: block;
        // width: 180px;
        height: 100px;
        // margin-bottom: 15px;
      }
    }
  }
}
.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}
.mat-icon {
  display: flex;
  height: 100%;
  align-items: center;
  color: black;
  font-size: 30px;
}
.carousel-control {
  background-color: transparent;
  opacity: 1;
  // left: 25px;
}
#myCarousel,
#myCarousel1 {
  margin: auto;
}
.carousel-control.left {
  left: 20px;
}
.flex-dir{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}