<div class="Homepage-section">
  <div class="container">
    <div class="row">
      <div class="logo">
        <img src="assets/images/PureVE/purelogo.png" />
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <h6>EPLUTO 7G</h6>
          <img src="assets/images/PureVE/pluto7G.png" />
          <mat-icon>arrow_circle_right_alt</mat-icon>
        </a>
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <h6>ETRANCE NEO</h6>
          <img
            src="assets/images/1 - VENROUTE/1 -  PURE EV/ETRANCE NEO _ ETRANCE +/Red.png"
          />
          <mat-icon>arrow_circle_right_alt</mat-icon>
        </a>
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <h6>EPLUTO 7G</h6>
          <img src="assets/images/PureVE/pluto7G.png" />
          <mat-icon>arrow_circle_right_alt</mat-icon>
        </a>
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <h6>ETRANCE NEO</h6>
          <img
            src="assets/images/1 - VENROUTE/1 -  PURE EV/ETRANCE NEO _ ETRANCE +/Red.png"
          />
          <mat-icon>arrow_circle_right_alt</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
