<div class="Homepage-section">
  <div class="container">
    <div class="row flex-dir">
      <div class="logo">
        <img src="{{baseUrl}}{{BrandLogo}}" />
      </div>
      
      <div id="myCarousel1" class="carousel slide" *ngFor="let data of getallVehicleDetails">
        <div class="carousel-inner">
          <div class="item active">
            <div class="viewpage">
              <a *ngFor="let image of data?.vehicleImage">
                <h6>{{data?.model}}</h6>
                <img src="{{baseUrl}}{{image}}" (click)="GotoVehicleDetails(data)" />
              </a>
            </div>
          </div>
        </div>

        <!-- <a class="right carousel-control" href="#myCarousel1" data-slide="next">
          <span><mat-icon>arrow_circle_right_alt</mat-icon></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
  </div>
</div>

<!-- user/Models -->
