<div class="Homepage-section">
  <div class="container">
    <div class="row">
      <div class="logo">
        <img src="assets/images/Boom/logo.jpg" />
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <!-- <h6>EPLUTO 7G</h6> -->
          <img src="assets/images/Boom/Boom1.png" />
          <!-- <i class="far fa-arrow-alt-circle-right"></i> -->
        </a>
      </div>
      <div class="viewpage">
        <a [routerLink]="['/user/Models']">
          <!-- <h6>EPLUTO 7G</h6> -->
          <img src="assets/images/Boom/Boom2.png" />
          <!-- <i class="far fa-arrow-alt-circle-right"></i> -->
        </a>
      </div>
    </div>
  </div>
</div>
