@media (max-width: 550px) {
  .Homepage-section {
    margin-top: 25px;
    margin-bottom: 60px;
    .viewpage {
      text-align: center;
      // margin: 10px 15px;
      margin: 10px 0px;
      width: 100%;
      p {
        font-size: 19px;
        margin: 0px 0px 10px 0px;
        // font-weight: bold;
        text-transform: uppercase;
      }
      img {
        margin-bottom: 10px;
        width: 90%;
        height: 200px;
        border-radius: 15px;
        // box-shadow: 0 2px 10px 1px rgb(64 60 67 / 24%);
        border-color: rgba(223, 225, 229, 0);
        // padding: 15px 0px;
        :nth-child(odd) {
          margin-left: -30px;
        }
      }
      
    }
  }
}
.route-tittle{
  text-align: center;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 0px!important;

}

// .viewpage a:nth-child(odd) {
//   margin-left: -30px;
// }

// .viewpage a img:nth-child(even) {
//   margin-right: -30px !important;
// }