<div *ngIf="isLoading">
  <h1>Loading</h1>
</div>

<div class="Homepage-section" *ngIf="!isLoading">
  <div class="container">
    <div>
      <p class="route-tittle"><strong>VE</strong>NROUTE</p>
    </div>
    <div class="row">
      <div class="viewpage animated zoomIn" *ngFor="let item of getBrandList">
        <!-- <p>{{item?.brandName}}</p> -->
        <a>
          <img src="{{baseUrl}}{{item?.brandImage}}" (click)="GoToProducts(item)" onerror="this.src='./assets/images/placeholder.jpg'" />
        </a>
      </div>
    </div>
  </div>
</div>


<!-- [routerLink]="['/user/PureVE']" -->