@media (max-width: 550px) {
  .Homepage-section {
    margin-bottom: 60px;
    .viewpage {
      text-align: center;
      // margin: 10px 15px;
      margin: 10px 0px;
      width: 100%;
      p {
        font-size: 19px;
        margin: 0px 0px 10px 0px;
        // font-weight: bold;
        text-transform: uppercase;
      }
      img {
        margin-bottom: 10px;
        width: 90%;
        height: 200px;
        box-shadow: 0 2px 10px 1px rgb(64 60 67 / 24%);
        border-color: rgba(223, 225, 229, 0);
        padding: 15px 0px;
      }
    }
  }
}
