<div class="testridesection">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="testreq">
          <h6>Requirements to get roadside assistance service</h6>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <th scope="row">NAME</th>
                <td></td>
              </tr>

              <tr>
                <th scope="row">CONTACT NO.</th>
                <td></td>
              </tr>
              <!-- <tr>
                <th scope="row">ADDRESS</th>
                <td></td>
              </tr> -->
              <tr>
                <th scope="row">CURRENT LOCATION</th>
                <td></td>
              </tr>
              <!-- <tr>
                <th scope="row">LANDMARK</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">CITY</th>
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
