@media only screen and (max-width: 480px) {
  .testridesection {
    margin-top: 25px;
    .card {
      margin-bottom: 60px;
      .card-body {
        .testreq {
          h6 {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 20px;
            line-height: 22px;
          }
          .table td,
          .table th {
            border: 0px;
            padding: 0px !important;
            line-height: 28px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
          }
          .table th {
            width: 45%;
            line-height: 40px;
          }
          .table td {
            width: 55%;
          }
          .table tr td input {
            height: 30px;
            box-shadow: none;
            width: 100%;
            border-radius: 0px;
          }
          .table tr td textarea {
            box-shadow: none;
            width: 100%;
            border-radius: 0px;
          }
        }
      }
    }
  }
}

.form-group {
  margin-bottom: 5px;
  label {
    font-size: 14px;
    font-weight: bold;
  }
  input {
    font-size: 14px;
  }
  sup {
    i {
      color: #eb0909;
      font-size: 8px;
    }
  }
  span {
    font-size: 12px;
    text-transform: none;
    color: #df4957;
  }
  .form-control {
    background-image: none;
  }
  button.btn {
    text-align: center;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    background-color: #28b8e8;
    background-image: linear-gradient(to right, #2cbae7, #0f347d);
  }
}
