<div class="Homepage-section">
  <div class="container">
    <div class="vehiclegetDetail_section">
      <div class="arrow-rating">
        <span class="material-symbols-outlined arrow">
          arrow_back_ios
        </span>

        <div class="ratetag">
          <div class="rating">
            <mat-icon>grade</mat-icon>
            4.1
          </div>
        </div>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- <ul class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
            <img src="https://www.w3schools.com/bootstrap4/chicago.jpg" height="20" width="20"> 
          </li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ul> -->
        <div class="carousel-inner viewpage">
          <div class="carousel-item" *ngFor="let vehicleColors of getVehicleColors; let i = index"
            [ngClass]="{ active: i == 0 }">
            <img class="" src="{{baseUrl}}{{vehicleColors?.vehicleImage}}" alt="First slide">
          </div>
        </div>

        <!-- <div>
          <ul>
            <li data-target="#carouselExampleIndicators" *ngFor="let vehicleColors of getVehicleColors; let i = index"
              [ngClass]="{ active: i == 0 }">
              <img src="{{baseUrl}}{{vehicleColors?.colorImage}}" data-slide-to="0" height="20" width="20">
            </li>
          </ul>
        </div> -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <ul class="colorcode">
        <li *ngFor="let vehicleColors of getVehicleColors;">
          <img src="{{baseUrl}}{{vehicleColors?.colorImage}}">
        </li>
      </ul>
      <!-- <div class="row" *ngFor="let vehicleColors of getVehicleColors">
        <div class="col-12">
          <div class="viewpage">
            <div>
              <a>
                <img src="{{baseUrl}}{{vehicleColors?.vehicleImage}}" />
              </a>
            </div>
            <ul class="colorcode">
              <li>
                <img src="{{baseUrl}}{{vehicleColors?.colorImage}}">
              </li>
            </ul>
          </div>
        </div>
      </div> -->

    </div>

    <div class="vehicle_name">
      <div class="get_model_rating">
        <div>
          <h5>{{getModel}}</h5>
          <p>{{getvehicleName}}</p>
        </div>
        <div class="ratetag">
          <div class="amount"><strong>₹ {{getPrice}}</strong></div>
        </div>
      </div>

    </div>

    <div class="locatebtn">
      <a [routerLink]="['/user/Testride']">
        <button type="button" class="btn btn-link">
          BOOK A TEST RIDE
        </button>
      </a>
      <a [routerLink]="['/user/Location']">
        <button type="button" class="btn btn-dark">
          <span class="material-symbols-outlined">
            pin_drop
          </span>
        </button>
      </a>

    </div>

    <!-- <div class="vehicle_specifiations">
      <div class="specs">
        <h4>Vehicle Specifications:</h4>
        <form *ngFor="let vecSpecs of getVehicleSpecs">
          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Vehicle Model:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.model}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Battery:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.battery}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Battery Casing:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.batteryCasing}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Blinkers:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.blinkers}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">BMS:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.bms}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Brake:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.brake}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Brake Lights:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.brakeLights}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Cells:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.cells}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Charging Point:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.chargerOutput}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Controller:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.controller}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Display:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.display}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Gradeablity:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.gradeablity}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Head Lamp:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.headLamp}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Ladies Footrest:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.ladiesFootrest}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Motor:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.motor}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Mud Guards:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.mudGuards}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Regenarative Breaking</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.regenerativeBraking}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Seat:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.seat}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Security:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.security}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Storage:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.storage}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Throttle:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.throttle}}</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-xs-5 col-form-label">Tyre:</label>
            <label class="col-xs-1 col-form-label">:</label>
            <div class="col-xs-6">
              <p>{{vecSpecs?.tyre}}</p>
            </div>
          </div>
        </form>
      </div>
    </div> -->
  </div>
</div>