@media (max-width: 480px) {
  .Homepage-section {
    margin-bottom: 60px;
    .viewpage {
      text-align: center;
      //   background: #7c7f8324;
      border-radius: 30px;
      // width: 350px;
      margin: auto;
      // margin-bottom: 20px;
      img {
        width: auto;
        height: 260px;
      }
      h6 {
        color: black;
        font-size: 18px;
        font-weight: 600;
        padding: 23px 0 0 0;
        text-decoration: none;
      }
      a {
        text-decoration: none;
        i {
          color: black;
          font-size: 24px;
          float: right;
          margin: 50px 0;
        }
      }
      ul.colorcode {
        display: inline-block;
        margin-bottom: 5px;
      }
      ul.colorcode li {
        float: left;
        margin-right: 5px;
      }
      ul.colorcode li input {
        width: 20px;
        height: 24px;
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
      }
    }
    .icons {
      display: grid;
      // border: 1px solid black;
      // width: 23px;
      // border-radius: 50px;
      // height: 23px;
      // padding: 1px 4px;
      // line-height: 20px;
      font-size: 18px;
      margin: 160px 0 0px 0;
    }
    .icons .mat-icon {
      margin-bottom: 5px;
    }
    .mat-icon {
      font-size: 24px;
    }
    .locatebtn {
      button.btn.btn-dark {
        font-size: 11px;
        width: 50%;
        height: 38px;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        color: white;
        background: black;
        border: none;
      }
      button.btn.btn-link {
        font-size: 11px;
        width: 50%;
        height: 38px;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        border: 1px solid black;
        color: black;
        text-decoration: none;
        background: white;
      }
    }
    .logo {
      text-align: center;
      margin: auto;
      img {
        margin: auto;
        display: inline-block;
        width: 130px;
        height: 100%;
      }
      sup {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .ratetag {
      margin-bottom: 15px;
    }
    .rating {
      text-align: center;
      width: 60px;
      height: 27px;
      background: #31af08;
      color: white;
      font-size: 14px;
      border-radius: 6px;
      margin: auto;
      font-weight: 700;
      .mat-icon {
        font-size: 14px;
        margin-top: 6px;
      }
    }
    .amount {
      text-align: center;
      font-size: 18px;
    }
  }
}
